@import "tailwindcss";
@import "tw-animate-css";

:root {
  --brand-color-1: #440986;
  --brand-color-2: #9a0ff1;
  --custom-white: #fefefe;
  --font-poppins: "Poppins", sans-serif;
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}
